@charset "UTF-8";

/* Light theme color */
// $light-background: #fff;
// $light-background-secondary: #eaeaea;
// $light-background-header: #fafafa;
// $light-color: #222;
// $light-color-variant: black;
// $light-color-secondary: #999;
// $light-border-color: #dcdcdc;
// $light-table-color: #dcdcdc;

/* Dark theme colors */
// $dark-background: #232425;
// $dark-background-secondary: #3b3d42;
// $dark-background-header: #1b1c1d;
// $dark-color: #a9a9b3;
// $dark-color-variant: white;
// $dark-color-secondary: #b3b3bd;
// $dark-border-color: #4e4e57;
// $dark-table-color: #4e4e57;

/* Light theme colors */
$light-background: #FAFAFA;
$light-background-secondary: #E6E6E5;
$light-background-header: #E6E6E5;
$light-color: #181802;
$light-color-variant: black;
$light-color-secondary: #F4BD24;
$light-border-color: #F4BD24;
$light-table-color: #F4BD24;

/* Dark theme colors */
$dark-background: #050505;
$dark-background-secondary: #1A1A19;
$dark-background-header: #1A1A19;
$dark-color: #FDFDE7;
$dark-color-variant: white;
$dark-color-secondary: #521DD4;
$dark-border-color: #F4BD24;
$dark-table-color: #F4BD24;

$media-size-phone: "(max-width: 684px)";
$media-size-tablet: "(max-width: 900px)";

/* Variables for js, must be the same as these in @custom-media queries */
:root {
  --phoneWidth: (max-width: 684px);
  --tabletWidth: (max-width: 900px);
}

/* Content */
$max-width: 860px;
